@model List<diplom.Models.LogEntry>

@{
    ViewData["Title"] = "Логи";
}

<h2 class="mb-4">Журнал событий Sonic Legacy</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Действие</th>
            <th>Уровень</th>
            <th>UserId</th>
            <th>Дата</th>
            <th>Детали</th>
            <th>IP</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.Action</td>
                <td>
                    @if (log.Level == "Security")
                    {
                        <span class="badge bg-danger">Security</span>
                    }
                    else if (log.Level == "Warning")
                    {
                        <span class="badge bg-warning text-dark">Warning</span>
                    }
                    else if (log.Level == "Error")
                    {
                        <span class="badge bg-dark">Error</span>
                    }
                    else
                    {
                        <span class="badge bg-primary">Info</span>
                    }
                </td>
                <td>@log.UserId</td>
                <td>@log.Timestamp</td>
                <td>@log.Details</td>
                <td>@log.IpAddress</td>
            </tr>
        }
    </tbody>
</table>